div {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 20px;
}
.satu {
  background-color: salmon;
  z-index: 1; /* fungsi z-index agar paling depan. jika ingin depan maka angkanya harus besar, jika ingin munudr kasih z-indexny mines (-) */
}
.dua {
  background-color: lightgreen;
  top: 100px;
  left: 100px;
}
.tiga {
  background-color: royalblue;
  top: 200px;
  left: 200px;
}
