div {
  width: 200px;
  height: 200px;
}
.satu {
  background-color: green;
}

.dua {
  background-color: violet;
  /* position: static; static, relative, absolute*/
  position: relative;
  top: 30px;
}
.tiga {
  background-color: gold;
}
